.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# User requested exclusions
.gradle-user-home
.trae
.vs
docs
gradle
gradle-9.4.1
META-INF
net
temp_sources
temp_sources2
template-mod-template-26.1.zip
GEMINI.md
*.log

# Project Cache
cache/

# IDE files
.idea
*.iml
bin/
out/
run/
